black
build
bumpversion
click
coloredlogs
coverage
invoke
ipython
jupyterlab
matplotlib
mkdocs
mkdocs-glightbox
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocstrings
mkdocstrings-python
mypy
numpy
orjson
pre-commit
pydantic
pylint
pytest
pytest-asyncio
pytest-cov
ruff
