name: Build and Push docker images

on:
  push:
    branches:
      - main
    paths:
      - "docker/**"
      - ".github/workflows/build-images.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_NAME: roxbot
      USERNAME: roxauto
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          username: ${{ env.USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build dev image
        run: |
          cd docker/dev
          docker build . -t ${{ env.USERNAME }}/${{ env.IMAGE_NAME }}:latest
      - name: Push Docker image to GitHub Container Registry
        run: docker push {{ env.USERNAME }}/${{ env.IMAGE_NAME }}:latest
